@{
    ViewBag.Title = "Coffee List";
}

@section SecondMenuLinks
{
    @Html.Partial("_SecondMenu")
}

<div class="container" ng-controller="CoffeeCtrl" ng-app="app" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ ListName }}</h2>
            @*<p>
                    @Html.ActionLink("Create New", "Create")
                </p>*@

            @*<p>{{ model | json | uppercase }}</p>*@


            <table class="table table-striped fixed">
                <thead class="header white-background">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Volume
                        </th>
                        <th>
                            Company Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="coffee in model">
                        <td>
                            {{ coffee.Name }}
                        </td>
                        <td>
                            {{ coffee.Volume }}
                        </td>
                        <td>
                            {{ coffee.Company.CompanyName }}
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Coffees")/{{ coffee.Id }}">Edit</a> |
                            <a href="@Url.Action("Details", "Coffees")/{{ coffee.Id }}">Details</a> |
                            <a href="@Url.Action("Delete", "Coffees")/{{ coffee.Id }}">Delete</a>
                        </td>
                    </tr>

                    <tr ng-if="model.length == 0">
                        <td>There are no Coffees to display in the system.</td>
                    </tr>

                    <tr ng-if="states.showCoffeeForm">
                        <td>
                            <input type="text" class="form-control coffeeName" placeholder="Name" ng-model="new.Coffee.Name" />
                        </td>
                        <td>
                            <input type="text" class="form-control numeric" placeholder="Volume" ng-model="new.Coffee.Volume" />
                        </td>
                        <td>
                            <select class="form-control" ng-model="new.Coffee.Company">
                                <option value="" disabled selected>Select A Company...</option>
                                <option ng:repeat="company in mCompany" value="{{ company.Id }}">{{ company.CompanyName }}</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCoffeeModal">Add Number&nbsp;<span class="badge">{{ model.length + 1 }}</span></button>
                            <a ng-click="showCoffeeForm(false);" class="btn btn-default">Cancel</a>
                        </td>
                    </tr>
                    <tr ng-show="!isCoffeeFormVisible()">
                        <td colspan="4">{{ new.Coffee | json }}</td>
                    </tr>
             
                    <tr ng-show="isCoffeeFormVisible()">
                        <td colspan="4"><a ng-click="showCoffeeForm(true);" class="btn btn-primary">Add Coffee&nbsp;<span class="badge">{{ model.length }}</span></a></td>
                    </tr>

                    <tr>
                        <td>Favourite Coffee: <input type="text" class="form-control" ng-model="output"></td>
                        <td colspan="3"><span>You like <b>{{ output }}</b></span></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div id="addCoffeeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">TODO</h4>
            </div>
            <div class="modal-body">
                <p>AngularJS Functionality not included to add at present...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section BodySection
{
    <script src=@Url.Content("~/Scripts/jquery.stickytableheaders.min.js")></script>
    <script>
        var offset = $('.navbar').height() + $('.nav-2').height();
        $("table").stickyTableHeaders({ fixedOffset: offset });

        // If the scroll position hits the offset, amend the props of our header (class white-background)      
        var $w = ($(window).scroll(function () {
            if ($w.scrollTop() > offset) {
                $('.white-background').css({ "border-bottom": "5px solid #4682b4", "color": "#ffffff" });
            } else {
                $('.white-background').css({ "border-bottom": "none", "color": "#000000" });
            }
        }));
    </script>
}


